@import 'style.css';
@import 'fontawesome-all.min.css';
@font-face {
  font-family: 'Roboto Slab', serif;
}
$font: 'Roboto Slab', serif;

.container {
  max-width: 960px;
  width: 100%;
  margin: auto;
}
.flex {
display: flex;
flex-direction: row;
justify-content: space-between;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
header {
  .white {
    background: #ffffff;
    .flexbox-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      a {
        display: inline-block;
        text-decoration: none;
        color: white;
        font-size: 12px;
        background: #bfc7c8;
        margin-right: -4px;

      &:first-child {
        padding: 8px 20px;
      }
      &:nth-child(2) {
        background: #919e9f;
        padding: 8px 23px;
      }
      &:nth-child(3) {
        background: #a7b0b1;
        padding: 8px 17px;
      }
      &:last-child {
        background: #00a5e2;
        padding: 8px 13px 8px 18px;
      }
    }
    }
  }
  .black {
    background: #262c2d;
    .flexbox-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: stretch;
      ul {
        li {
          display: inline-block;
          a {
            text-decoration: none;
            list-style: none;
            color: white;
            font-size: 16px;
            padding: 18px 0 17px 24px;
            text-align: left;
            width: 101px;
          }
        }
      }
          .element1 {
            flex-grow: 1;
            padding-left: 5px;
            padding-top: 12px;
            padding-bottom: 15px;
          }
          a:nth-child(2) {
            background: #b2bdbf;
          }
          a:nth-child(3)  {
            background: #00a5e2;
          }
           a:nth-child(4)  {
            background: #b6c3c5;
          }
          a:nth-child(5)  {
            background: #c3cdce;
          }
          a:nth-child(6) {
            background: #91a0a3;
            margin-right: -4px;
          }
      }
    }
  }

  section.blue {
    background: #cce7fa;
    width: 100%;
    padding-top: 33px;
    border-bottom: 2px solid white;
    .container {
      @extend .container;
      position: relative;
      z-index: 1;
      margin-bottom: -4px;
      .strings {
        position: absolute;
        bottom: 0;
        left: -100px;
        z-index: 2;
      }
      .bottles {
        position: relative;
        bottom: 0;
        left: 55px;
        z-index: 3;
      }
      .text {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;
        text-align: right;
        h2 {
          font-size: 50px;
          font-weight: 700;
          color: #0e2766;
          text-align: right;
          line-height: 1;
          margin-bottom: -50px;
          span {
            color: #656565;
          }
        }
        .dot {
          color: #656565;
          font-size: 50px;
          margin: 0;
        }
        .red {
          color: #cc0033;
          font-size: 25px;
          font-weight: 700;
        }
        .list {
          line-height: 2.5;
          text-align: right;
          color: #656565;
          font-size: 16px;
        }
        .list2 {
          line-height: 0.8;
        }
        .fas {
          color: #656565;
          font-size: 16px;
          margin-left: 10px;
        }
      }
    }
    .social {
      position: fixed;
      top: 175px;
      right: 0;
      a {
        text-decoration: none;
        i {
          display: block;
          width: 50px;
          height: 41px;
          color: white;
          background: #616a6c;
          text-align: center;
          font-size: 35px;
          padding-top: 9px;
        }
        i:nth-child(2) {
          background: #595959;
        }
        i:nth-child(3) {
          background: #757e80;
        }
      }
    }
  }
    section.darkblue {
      background: #0069b5;
      width: 100%;
      padding-bottom: 207px;
      .first {
        background: white;
        @extend .flex;
        img {
          display: inline;
          padding: 94px 18px 34px 22px;
          height: 100%;
        }
        .right-grey {
          background: #f2f2f2;
          padding: 5px 25px 75px 20px;
          h3 {
            color: #003366;
            font-size: 18px;
            text-align: left;
            line-height: 0.5;
          }
          p {
            display: inline;
            color: #656565;
            font-size: 14px;
            text-align: right;
          }
        }
      }

      .second {
        width: 100%;
        @extend .flex;
        align-items: stretch;
        flex-wrap: wrap;
      }
      .third {
        width: 100%;
        @extend .flex;
        span {
          color: white;
          font-size: 30px;
          font-weight: 700;
        }
        span:first-child {
          width: 33.34%;
          background: #009bdf;
          text-align: center;
        }
        span:nth-child(2) {
          width: 33.34%;
          background: #00adee;
          text-align: center;
        }
        span:last-child {
          width: 33.34%;
          background: #008abe;
          text-align: center;
        }
      }

      .forth {
        @extend .flex;
        flex-wrap: wrap;
        width: 100%;
        .left {
          max-width: 460px;
          width: 100%;
          padding-left: 20px;
          background: white;
          max-height: 413px;
          height: 100%;
          h3 {
            color: #003366;
            font-size: 18px;
            text-align: left;
            line-height: 0.5;
          }
          p {
            display: inline;
            color: #656565;
            font-size: 14px;
            text-align: left;
          }
          img {
            margin-top: 75px;
            padding-bottom: 75px;
          }
        }
        .right {
          background-image: url(../images/bottle-right.png);
          text-align: right;
          width: 100%;
          max-width: 440px;
          padding-right: 40px;
            h2 {
            font-size: 50px;
            font-weight: 700;
            color: #cc0033;
            text-align: right;
            line-height: 1;
            }
            .red-bt {
              display: inline-block;
              text-align: right;
              background: url("../images/red.png") no-repeat;
              padding: 5px 62px 15px 60px;
              a {
                text-decoration: none;
                color: white;
                text-align: center;
                text-transform: uppercase;
                font-size: 21px;
                font-weight: 700;
              }
            }
            .blue-bt {
              display: inline-block;
              background: url("../images/blue.png") no-repeat;
              text-align: right;
              padding: 5px 35px 15px 32px;
              a {
                text-decoration: none;
                color: white;
                text-align: center;
                text-transform: uppercase;
                font-size: 21px;
                font-weight: 700;
              }
            }
        }
      }
    }
    section.bottom {
      width: 100%;
      margin-top: -143px;
      img {
        margin-right: -5px;
      }
    }

    footer {
      width: 100%;
      background: white;
      padding-top: 15px;
      padding-bottom: 23px;
      @extend .flex;
      justify-content: space-between;
      align-items: flex-end;
      .element1 {
        margin-right: auto;
      }
      span {
        color: grey;
        font-size: 10px;
      }
      img {
        padding-top: 8px;
      }
    }

}
